name: development

on:
  push:
    branches:
      - features/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.5.0

      - name: Install Dependencies
        run: flutter packages get

      - name: Format
        run: flutter format --set-exit-if-changed lib test
        continue-on-error: true

      - name: Analyze
        run: flutter analyze lib test
        continue-on-error: true

      - name: Generate code
        run: flutter packages pub run build_runner build --delete-conflicting-outputs

      - name: Build debug flavor development
        run: flutter build apk --debug --flavor development
